blue    = #ACF
red     = #FCA

a
  cursor pointer

#reveal 
  input
    font-size 26px
    background-color rgba(255,255,255,0.8)
    border-radius 5px
    padding 2px 10px
  code
    font-size 30px
    line-height 38px
    margin-bottom 40px
    &.medium
      font-size 24px
      line-height 32px
    &.small
      font-size 18px
      line-height 24px
  .init
    display none
  section img
    border none
    background none
    box-shadow none
  table
    display inline-block
    margin-bottom 40px
    th
      font-weight bold
    td,th
      padding 5px 10px
      text-align left
    tr > *:not(:last-child)
      border-right solid 2px rgba(255,255,255,0.3)
    tr:not(:last-child) > *
      border-bottom solid 2px rgba(255,255,255,0.3)
  .dim
    color gray
  .end-fragment
    text-align center
    color gray
  .true
    color blue
  .false
    color red

